* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1 {
    text-align: center;
}

.container {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    width: 1200px;
}

.row {
    display: flex;
    justify-content: space-between;
    margin: 20px;
}

.row button {
    width: 150px;
    height: 50px;
    background-color: rgb(189, 189, 189);
    cursor: pointer;
    border: none;
    border-radius: 3px;
}

.row button:hover {
    background-color: grey;
    border: none;
    color: #fff;
}